<div class="container-xxl py-5">
  <div class="container">
    <div class="bg-light rounded">
      <div class="row g-0">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="h-100 d-flex flex-column justify-content-center p-5">
            <h1 class="mb-4">{{ .Site.Data.data.appointment.main.title }}</h1>
            <p class="mb-4">{{ .Site.Data.data.appointment.main.description }}</p>
            <form>
              <div class="row g-3">
                {{ range .Site.Data.data.appointment.main.form.fields }}
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input
                      type="{{ .type }}"
                      class="form-control border-0"
                      id="{{ .name }}"
                      placeholder="{{ .label }}"
                    />
                    <label for="{{ .name }}">{{ .label }}</label>
                  </div>
                </div>
                {{ end }}
                <div class="col-12">
                  <div class="form-floating">
                    <textarea
                      class="form-control border-0"
                      placeholder="Leave a message here"
                      id="message"
                      style="height: 100px"
                    ></textarea>
                    <label for="message">Message</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100 py-3" type="submit">
                    {{ .Site.Data.data.appointment.main.form.submit_text }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div
          class="col-lg-6 wow fadeIn"
          data-wow-delay="0.5s"
          style="min-height: 400px"
        >
          <div class="position-relative h-100">
            <img 
              class="position-absolute w-100 h-100 rounded" 
              src="{{ "img/appointment.jpg" | relURL }}" 
              style="object-fit: cover;"
              alt="Appointment Image"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
