{{/* Accepts date string and returns formatted date */}}
{{ $dateStr := . }}
{{ $formattedDate := now }}  {{/* Default to current date */}}

{{ if $dateStr }}
  {{ $dateParts := split $dateStr "-" }}
  {{ if eq (len $dateParts) 3 }}
    {{ $part1 := index $dateParts 0 }}
    {{ $part2 := index $dateParts 1 }}
    {{ $part3 := index $dateParts 2 }}
    
    {{/* Determine date format and convert accordingly */}}
    {{ if eq (len $part1) 4 }}
      {{/* Already in YYYY-MM-DD format */}}
      {{ $isoDate := printf "%s-%s-%s" $part1 (printf "%02s" $part2) (printf "%02s" $part3) }}
      {{ with time $isoDate }}
        {{ $formattedDate = . }}
      {{ end }}
    {{ else }}
      {{/* Convert from DD-MM-YYYY format */}}
      {{ $year := $part3 }}
      {{/* Fix year if it's malformed (e.g., "205" instead of "2025") */}}
      {{ if lt (len $year) 4 }}
        {{ $year = printf "20%s" (substr $year -2) }}
      {{ end }}
      {{ $isoDate := printf "%s-%s-%s" $year (printf "%02s" $part2) (printf "%02s" $part1) }}
      {{ with time $isoDate }}
        {{ $formattedDate = . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $formattedDate }}
